.sidebar{
    background-color: #39a900;
 
    padding-top:30px;
    justify-content: center;

}


.sidebar > img {
    height: 40%;
    border-radius: 50%;
    overflow: hidden;
    width: 65%;

}

ul{
    
}